// Colour Variables
$primary-color: #7f02f5;
$secondary-color: #2c06ea;
$background-color: #bf0aec;
$title-color: #f502c4;
$bonus-color: #00ffee;

body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin: 0;
   padding: 0;
   background-color: mintcream;
}

.content {
   max-width: 800px;
   margin: 50px auto;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   background-color: wheat;
   text-align:left;



}

h1 {
   color: $secondary-color;
}

table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: left;
   border: 1px solid #ccc;
   border-radius: 5px;

   th, td {
      padding: 10px;
      border: 1px solid #ccc;
   }
   a {
       display: inline-block;
       padding: 5px 10px;
       margin-right: 10px;
       color: $secondary-color;
       text-decoration: none;
       border: 1px solid $secondary-color;
       border-radius: 5px;
       transition: background-color 0.3s ease, color 0.3s ease;
   }
   input {
       display: inline-block;
       padding: 5px 10px;
       margin-right: 10px;
       color: $secondary-color;
       text-decoration: none;
       border: 1px solid $secondary-color;
       border-radius: 5px;
       transition: background-color 0.3s ease, color 0.3s ease;
   }
   #btn_add {
       display: inline-block;
       background-color: #2c06ea;
       padding: 5px 10px;
       margin-right: 10px;
       color: $secondary-color;
       text-decoration: none;
   }
}


